@import '../../scss/main.scss';

.performance {
  position:relative;
  width: 100%;
  height: 100%;

  padding: 20px 0px;
  border-radius: 5px;
  background-color: $background-greydark;

  .rechartradar {
    fill: $primary!important;
  }
}