@import '../../scss/main.scss';

.custom-tooltip {
  background-color: $primary;
  padding: 10px;
  color: white;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &.light{
    background-color: white;
    color: $secondary;
  }
}