@import '../../scss/main.scss';

.profile {
  justify-content: flex-start!important;
  gap: 0!important;
  align-items: flex-start!important;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  

  &__stats {
    width: 100%;
    margin-top: 50px;
  }

  &__performance {
    max-width: 260px;
  }
}