body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey;
  font-size:0.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;  
  height: 100vh;
  font-weight: 400;

  .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  main {
    flex-grow: 1;
    padding:0 100px;
  }

  h1 {
    font-size: 3rem;
    line-height: normal;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    color: $secondary;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    color: $secondary;
  }
  h3 {
    font-size: 1rem;
    line-height: normal;
    color: $secondary;
    font-weight: 500;
  }
}

.text{
  &--primary {
    color: $primary!important;
  }

  &--white {
    color: white!important
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap:30px;
  align-items: center;
  justify-content: space-between;

  &__row {
    flex-direction: row;
  }

  &__column {
    flex-direction: column;
  }

  &__item {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
  }
}
